:host {
    width:100%;
}

.selector
{
    display:grid;
    grid-template-columns: repeat(2, 50%);
}

.selector > div
{
    display:flex;
    flex-direction: column;
}

.selector > div > div
{
    min-height: 200px;
    overflow-y: scroll;
    height:100%;
}

dialog
{
    --width: 300px;
    width:var(--width);
    left: calc(100vw / 2 - var(--width) / 2)
}
div.arguments
{
    display:grid;
    grid-template-columns: auto auto;
}

.cdk-drag
{
    cursor: grab;
}

.cdk-drag:nth-of-type(even)
{
    background-color: #fff;
}
.cdk-drag:nth-of-type(odd)
{
    background-color: #f4f7f6;
}


.edit-args, .preview {
    cursor: pointer;
}

.preview {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 6px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.possible-values
{
    &.cdk-drop-list-receiving, &.cdk-drop-list-dragging {
        :not(.delete-box) {
            display:none;
        }
    }
    .cdk-drag-placeholder
    {
        display:none;
    }
}


.hide
{
    display:none;
}


.close-button {
    grid-column: 1 / 3;
}


.delete-box
{
    --num-items: 0;
    height: calc(18.2px * var(--num-items));
    display:flex;
    justify-content: center;
    align-items: center;
}
