<div *ngIf="!isExpanded" (click)="isExpanded = true" >

    <span *ngFor="let option of preview; let first=first"><ng-container *ngIf="!first">, </ng-container>{{option}}</span> {{formatPreviewText()}}
</div>
<div cdkDropListGroup *ngIf="isExpanded" class="selector">
    <div class="selected-values">
        <h3>Selected</h3>
        <!-- [cdkDropListData]="selectedValues" -->
        <div cdkDropList
            #selectedValuesList="cdkDropList"
            (cdkDropListDropped)="drop($event)">
            @for (option of selectedValues; track option) {
                <div cdkDrag>{{formatTitle(option)}} <ng-container *ngIf="hasArguments(option)">🔧</ng-container></div>
            }
        </div>
    </div>
    <div class="possible-values">
        <h3>Possible</h3>
        <!-- [cdkDropListData]="possibleValues" -->
        <div cdkDropList
        [cdkDropListConnectedTo]="selectedValuesList"
        (cdkDropListDropped)="drop($event, true)">
            @for (option of possibleValues; track option) {
                <div cdkDrag>{{formatSubOption(option)}}</div>
            }
        </div>
    </div>
</div>
