input[type="text"], input[type="number"], select {
    width: 100%;
}

.main-grid
{
    display:grid;
    grid-template-columns: 33% auto;

    @media only screen and (hover: none) and (pointer: coarse){
        grid-template-columns: auto;
        .sub-header
        {
            font-weight:bold;
        }
    }

    > .sub-header:nth-of-type(4n), .sub-header:nth-of-type(4n + 1)
    {
        + div{
            background-color: #f4f7f6;
        }
        background-color: #f4f7f6;
    }

    > div:not(.filler)
    {
        display:flex;
        justify-content: left;
        align-items: center;
        min-height: 33px;
    }
}

.category-name
{
    font-weight: bold;
    font-size: 17px;
}

.category-name, .filler
{
    border-bottom: 1px solid lightgray;
}

.option-header
{
    font-weight: bold;
}

.option-header, .option-header + div
{
    border-top: 1px solid lightgray;
}